<nav class="categories part">
    <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Cats</a></li>
        <li><a href="#">Dogs</a></li>
        <li><a href="#">Lizards</a></li>
        <li><a href="#">Birds</a></li>
        <li><a href="#">Insects</a></li>
        <li><a href="#">Fishes</a></li>
        <li><a href="#">Other</a></li>
    </ul>
</nav>