<footer>
    <div class="footer__inner part">
        <span class="label">Contacts</span>
        <div class="contacts">
            <span class="e_mail"> <a href="mailto:jchamets@gmail.com">jchamets@gmail.com</a> </span>
            <span class="number"> <a href="tel:+380989707515">+380-98-970-75-15</a> </span>


        </div>
    </div>
</footer>