{{> head}}

<body>
    <div class="body__inner">
        {{> header}}
        <div class="main">
            {{> categories}}
            <section class="part">
                {{{body}}}
            </section>
        </div>
    </div>

</body>

</html>