.menu {
  max-width: 100%;
}
.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.menu li {
  display: inline;
  border: 1px solid rgb(195, 195, 195);
  border-left: none;
  min-height: 60px;
  min-width: 25%;
  background-color: rgb(238, 238, 238);
  box-shadow: inset 0px 0px 20px rgb(195, 195, 195);
}
.home {
  border-left: 1px solid rgb(188, 188, 188);
}
.menu li a {
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 18px;
  line-height: 20px;
  height: 100%;
  transition: 0.2s;
}

.menu li:hover {
  box-shadow: inset 0px 0px 20px rgb(219, 219, 219);
}
.menu li a:active {
  box-shadow: inset 0px 0px 20px rgb(155, 155, 155);
}
.actived {
  box-shadow: inset 0px 0px 20px rgb(141, 141, 141);
  pointer-events: none;
}
