<div class="home__inner">
    <h1>Home Page</h1>
    <p>
        Posts - you can see all the posts posted on the site.<br>
        News - you can see last news about animals<br>
        About - you can read the information about the site.
    </p>
</div>