<div class="posts__inner">
    <div class="posts__inner-head">
        {{#if loggedIn}}
        <div class="create__post">
            <a href="/post/create"><span></span></a>
        </div>
        {{/if}}
        <div class="find">
            <h2>Find posts</h2>
            <div class="find__post">
                <input type="text" class="find__input" placeholder="Enter title:">
                <button class="find__btn">Find</button>
            </div>
        </div>
    </div>


    <div class="posts">

    </div>
</div>